<h2>your cart</h2>
<div class="boxSmall last right">
<div id="box-shadow-custom" class="orderBox">
<table class="table statusOrder">
	<% @cart.line_items.each do |item| %>
	<tr>
		<td class="title" colspan="4"><%= item.product.title %></td>
	</tr>
	<tr>
		<td><%= item.quantity %> &times;</td>
		<td><%= item.product.title %></td>
		<td><%= button_to 'delete', item, method: :delete, class: "btn btn-info btn-mini" %></td>
		<td><%= currency_kr(item.total_price) %></td>
	</tr>
	<% end %>

	<tr>
		<td colspan="3"><strong>Total</strong></td>
		<td class="totalPrice"><strong><%= currency_kr(@cart.total_price) %></strong></td>
	</tr>
	<tr>
		<td colspan="4" class="extraSpace"><%= button_to 'Empty cart', @cart, method: :delete, class: "btn btn-default" %></td>
	</tr>
</table>

</div>
</div>