<div class="boxWrap noLine">
	<div id="box-shadow-custom" class="productBox2 left">
	<table id="orderStatus" class="table statusOrder">
		<thead>
			<tr>
				<td class="colorCell"><strong>Order</strong></td>
				<td class="colorCell"><strong>Quantity</strong></td>
				<td class="colorCell textRight"><strong>Price</strong></td>
			</tr>
		</thead>
		<tbody>
			<% @cart.line_items.each do |item| %>
    		<%= form_for(item) do |f|%>
			<tr>
				<td>
        		<%= f.text_field :quantity, size: 1, :class => 'smallInput' %> 
        		
				<%= item.product.title %>
				</td>
				<td><%= f.submit 'Update Qty', :class => 'btn btn-mini' %></td>
				<td class="textRight"><%= currency_kr(item.product.price) %></td>
			</tr>
			<% end %>
			<% end 	%>
			<tr>
				<td class="colorCell"><strong>EXTRAS:</strong></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3"><strong><%= @category.category.name %></strong></td>
			</tr>
			<% @product.each do |product| %>
			<tr>
				<td><%= product.title %></td>
				<td><%= button_to 'add', line_items_path(product_id: product), class: "btn btn-mini" %></td>
				<td class="textRight"><%= currency_kr(product.price) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= button_to 'next', '#', class: "btn btn-success right" %>
	</div><!-- END OF PRODUCTBOX -->
	
<%= render @cart %>

</div><!-- END OF BOXWRAP -->