<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-error">
      <p><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</p>
      </div>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'create', :class => 'btn btn-success' %>
  </div>
<% end %>
