<%= render 'layouts/subnav' %>
<div class="boxWrap noLine">
  <div id="box-shadow-custom" class="productBox2">
<h2>Categories</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-mini" %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
</div>
</div>


