<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %><br>
  <strong>is this product as extra?: </strong>
  <%= @category.extra? %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
