<div class="boxWrap noLine">
<%= render 'layouts/subnav' %>
<div id="box-shadow-custom" class="adminBox">
<h2>All images</h2>
<%= link_to 'New Image', new_image_path, class: "btn btn-success right" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Product</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>

        <td><%= image.product.title %></td>
        <td><%= image_tag(image.image, alt: "image", class: "imgSmall") %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Image', new_image_path, class: "btn btn-success right" %>
<div class="clearfix"></div>
</div>
</div>