        <div class="header">
	        <div class="companyMenu right">
        <ul>
	        <li><%= link_to "About us",     '#' %></li>
	        <li><%= link_to "FAQ",    	 '#' %></li>
	        <li><%= link_to "Contact",   '#' %></li>
                 <% if signed_in? && current_user.role_id == 2 %>
                <li><%= link_to "Users", users_path %></li>
                <% end %>
                <% if signed_in? %>
                <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
        </div>

        <div class="masthead clearfix">
        <div class="logo left"><%= link_to image_tag("logo.png", alt: "Jespers"), root_path %><h1>Jesper Torvekøkken</h1></div>
        <div class="kurv right"><%= image_tag("kurv.png", alt: "shopping cart") %><%= link_to "Go to your order", '#' %></div>
        </div>
        <div class="navBar clearfix">
        <div class="julHjerteSmall left"><%= image_tag("heart_small.png", alt: "heart") %></div>
        <ul>
	        <li><a href="#"><span class="xs">Netop nu:</span> Jul & Nytår</a></li>
	        <li><%= link_to 'Buffets', buffets_path %></li>
	        <li><%= link_to "Menus", menus_path %></li>
	        <li><%= link_to "Big occasions",    '#' %></li>
        </ul>
        </div>
		</div><!-- END OF HEADER -->